@model FinalSchool.Models.DaleelPracticalTraining
<div>
    <h2 style="text-align:center;background-color: bisque;padding: 15px;border-radius:7px;border:1px solid red">
        <b style="color: crimson;">لم يتم اضافة اي دليل مقرر تدريبي ... </b>
    </h2>
</div>
