<style>
    img {
        width:34px;
        height:34px;
        
        margin:4px;
    }
</style>
<div id="top_table" style="font-weight:bolder">

    <table dir="rtl" style="width:100%">
        <tbody>
            <tr>
                <td dir="rtl"> <img src="~/Images/ksae.jpg" style="border-radius: 50%;" /> المملكة العربية السعودية</td>
                <td id="logo_pic" rowspan=3>
                    <img src="~/Content/ffff.png" style="border-radius: 50%;" class="center" />
                </td>
                <td dir="ltr"> <img src="~/Images/ksae.jpg" style="border-radius: 50%;" />Kingdom of Saudi Arabia</td>
            </tr>
            <tr>
                <td dir="rtl">  <img src="~/Images/download.png" style="border-radius: 50%;"  /> المؤسسة العامة للتدريب التقني والمهني</td>

                <td dir="ltr">   <img style="border-radius: 50%;" src="~/Images/download.png"  />Technical and Vocational Training Corporation</td>
            </tr>
            <tr>
                <td dir="rtl"><img src="~/Images/373457.png" style="border-radius: 50%;" />الكلية التقنية بتبوك </td>
                <td dir="ltr"> <img src="~/Images/373457.png" style="border-radius: 50%;" />College of Technology in Tabuk</td>
            </tr>
        </tbody>
    </table>
</div>
