@{
    ViewBag.Title = "دليل المقرر";
}

<style>
    .navbar-inverse {
        background-color: #0a58a2;
    }

    .navbar-right {
        color: white;
    }

    body {
        color: #fff;
        background-image: linear-gradient(to right,#783777,#202976);
    }

    .imge {
        margin-bottom: 10px;
        width: 300px;
        height: 250px
    }

    .Ancor {
        color: white;
        padding: 12px 16px;
        text-decoration: none !important;
        display: block;
        font-weight: bolder;
        background-color: transparent;
        direction: rtl;
    }

    h3 {
        text-align: center;
    }

    .folderImg {
        width: 100%;
        height: 150px;
        transform: scaleX(-1);
    }

    .classdiv {
        /*background: #2b2929;*/
        background-image: linear-gradient(to right,#202976,#783777);
        border-radius: 25px;
        border: 2px solid black;
        padding: 20px;
        box-shadow: 5px 8px 20px black;
        display: inline-block;
    }

        .classdiv:hover {
            background-image: linear-gradient(to right,#202976,#783777);
            border-radius: 25px;
            border: 2px solid #783777;
            padding: 20px;
            box-shadow: 5px 8px 20px #202976;
            display: inline-block;
            transition: 1s;
        }

    .btn {
        font-size: 20px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/Mystyle.css" />
<link rel="stylesheet" type="text/css" href="~/Content/SizeA4.css" />
@Html.Partial("_HeaderPartial")
<h1 style="text-align:center">الكلية التقنية بتبوك</h1>
<hr />

<h3 style="line-height: inherit;">الكلية التقنية بتبوك إحدى الكليات التقنية التابعة للمؤسسة العامة للتدريب التقني والمهني في المملكة العربية السعودية. تأسست عام 1421. ترتكز مهمتها العلمية على إعداد متدربين لسوق العمل، و تستقطب في برامجها خريجي وخريجات الثانوية العامة والحاصلين على دبلوم المعاهد الصناعية الثانوية.</h3>
<br />
<h2 style="text-align:center">  اضافة مقرر جديد </h2>
<br />
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="col-lg-12 col-md-12 col-sm-12 classdiv">
            <img src="~/Images/add-folder--v2.png" class="folderImg" />
            <br />
            <h2>أضاقة مقرر نظري</h2>
            <br />
            <a class="btn btn-info col-lg-12" href="/DaleelPracticalTrainings/CreateTheoretical">  أضافة &raquo;</a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="col-lg-12 col-md-12 col-sm-12 classdiv">
            <img src="~/Images/add-folder--v2.png" class="folderImg" />
            <br />
            <h2>أضاقة مقرر عملي </h2>
            <br />
            <a class="btn btn-info col-lg-12" href="/DaleelPracticalTrainings/CreatePratical">  أضافة &raquo;</a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="col-lg-12 col-md-12 col-sm-12 classdiv">

            <img src="~/Images/add-folder--v2.png" class="folderImg" />
            <br />
            <h2>أضاقة مقرر عملي نظري </h2>
            <br />
            <a class="btn btn-info col-lg-12" href="/DaleelPracticalTrainings/CreatePraticalTheoretical">  أضافة &raquo;</a>
        </div>
    </div>
</div>
